
*{
	box-sizing: border-box;
}

body{
	background-color: #020409;
	color: #eee;
}

.chat-contenedor{
	width: min(600px, 90%);
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #555;
	border-radius: 5px;
	transition: all .3s;
	overflow: hidden;
}

.chat{
	display: block;
	background-color: #146;
	max-height: 90vh;
	min-height: 200px;
	overflow-y: auto;
	padding: .5em;
	position: relative;
	color: #eee;
}

.msg-container{
	display: grid;
	grid-template-columns: 100%;
	justify-content: center;
}

.msg-chat{
	position: relative;
	display: block;
	width: fit-content;
	height: fit-content;
	max-width: 60%;
	min-width: 3em;
	margin-bottom: .5em;
	padding: .5em 1em;
	overflow-x: hidden; 
	word-break: break-all;
	line-height: 1.5;
	border-radius: .5em .5em 0 .5em;
}

.yo{
	background-color: #eee;
	color: #000;
	right: 0;
	justify-self: right;
}
.el{
	border-radius: .5em .5em .5em 0;
	background-color: #8ea;
	color: #000;
	text-align: right;
}


.escribir{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #4a8;
	padding: 10px 0;

}
.escribir-contenedor{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 95%;
	background-color: #032;
	margin: 0 auto;
	/*border: solid 1px #ccc;*/
	border-radius: 30vw;
	color: #eee;
}


.escribir-input{
	display: block;
	border: none;
	padding: .5em 2em;
	outline: none;
	max-width: 70%;
	width: calc(80% - 2em);
	background-color: transparent;
	color: inherit;

}
.escribir-btn{
	display: block;
	width: 1.6em;
	height: 1.6em;
	font-size: 1.7em;
	text-align: center;
	background-color: transparent;
	border: none;
	color: #4a8;
}